### Resultat för kurser (YH-utbildningar upp till 99 poäng)

In [29]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt

df = pd.read_excel(
    "data/resultat-2024-for-kurser-inom-yh.xlsx"
)

df.head()

,Diarienummer,Beslut,Anordnare namn,Utbildningsnamn,Utbildningsområde,Antal beviljade platser start 2024,Antal beviljade platser start och slut 2024,Antal beviljade platser start 2025,Totalt antal beviljade platser,YH-poäng,Kommun,Län,FA-region,Antal kommuner,Antal län,Antal FA-regioner
0,MYH 2024/1000,Avslag,Changemaker Educations AB,Futuregames Accessible Game Production,Juridik,0,0,0,0,25,"Se ""Lista flera kommuner""","Se ""Lista flera kommuner""","Se ""Lista flera kommuner""",3,3,3
1,MYH 2024/1001,Avslag,Changemaker Educations AB,Futuregames Inclusive Game Development,"Ekonomi, administration och försäljning",0,0,0,0,25,"Se ""Lista flera kommuner""","Se ""Lista flera kommuner""","Se ""Lista flera kommuner""",3,3,3
2,MYH 2024/1002,Avslag,Båstads kommun Akademi Båstad,Ekosystemtjänster i praktiken,"Lantbruk, djurvård, trädgård, skog och fiske",0,0,0,0,50,Båstad,Skåne,Malmö-Lund,1,1,1
3,MYH 2024/1003,Avslag,Båstads kommun Akademi Båstad,Hållbar dagvattenhantering i praktiken,"Lantbruk, djurvård, trädgård, skog och fiske",0,0,0,0,50,Båstad,Skåne,Malmö-Lund,1,1,1
4,MYH 2024/1004,Avslag,Båstads kommun Akademi Båstad,Invasiva växter i utemiljöer,"Lantbruk, djurvård, trädgård, skog och fiske",0,0,0,0,25,Båstad,Skåne,Malmö-Lund,1,1,1

In [23]:
df.shape

(451, 16)

In [24]:
df.describe

<bound method NDFrame.describe of       Diarienummer    Beslut                         Anordnare namn  \
0    MYH 2024/1009  Beviljad     Plushögskolan AB - Affärshögskolan
1    MYH 2024/1010  Beviljad        IHM Business School AB Göteborg
2    MYH 2024/1016  Beviljad  Plushögskolan AB - Vårdyrkeshögskolan
3    MYH 2024/1017  Beviljad   Hyper Island Program AB - Karlskrona
4    MYH 2024/1018  Beviljad     Plushögskolan AB - Affärshögskolan
..             ...       ...                                    ...
446   MYH 2024/990  Beviljad               Företagsuniversitetet AB
447   MYH 2024/993  Beviljad                                INSU AB
448   MYH 2024/994  Beviljad               Företagsuniversitetet AB
449   MYH 2024/995  Beviljad    Hyper Island Program AB - Stockholm
450   MYH 2024/998  Beviljad                        Campus Nyköping

                                       Utbildningsnamn  \
0                     Strategisk hållbarhetsutveckling
1                               Social media marketing
2    E-hälsa, digitalisering och välfärdsteknik ino...
3                     Sustainability Change Leadership
4    Digitalisering och systemkunskap inom lön - Sp...
..                                                 ...
446   Upphandling av digitaliserings- och IT-lösningar
447                              Solenergiprojektering
448           Att bygga en informationssäkerhetskultur
449                                     Data Analytics
450   Hälsofrämjande och pedagogiska insatser med häst

                                Utbildningsområde  \
0         Ekonomi, administration och försäljning
1         Ekonomi, administration och försäljning
2         Hälso- och sjukvård samt socialt arbete
3         Ekonomi, administration och försäljning
4         Ekonomi, administration och försäljning
..                                            ...
446       Ekonomi, administration och försäljning
447                Samhällsbyggnad och byggteknik
448                             Säkerhetstjänster
449                                       Data/IT
450  Lantbruk, djurvård, trädgård, skog och fiske

     Antal beviljade platser start 2024  \
0                                    50
1                                    50
2                                     0
3                                    55
4                                    50
..                                  ...
446                                   0
447                                   0
448                                   0
449                                  50
450                                  24

     Antal beviljade platser start och slut 2024  \
0                                              0
1                                              0
2                                             50
3                                              0
4                                              0
..                                           ...
446                                           50
447                                            0
448                                           50
449                                            0
450                                            0

     Antal beviljade platser start 2025  Totalt antal beviljade platser  \
0                                    50                             100
1                                    50                             100
2                                     0                              50
3                                    55                             110
4                                    50                             100
..                                  ...                             ...
446                                   0                              50
447                                  50                              50
448                                   0                              50
449                                  50                             100
450                                   0                              24

     YH-poäng                     Kommun                        Län  \
0          45  Se "Lista flera kommuner"  Se "Lista flera kommuner"
1          40                   Göteborg            Västra Götaland
2          50  Se "Lista flera kommuner"  Se "Lista flera kommuner"
3          55  Se "Lista flera kommuner"  Se "Lista flera kommuner"
4          30                      Gävle                  Gävleborg
..        ...                        ...                        ...
446        15                  Stockholm                  Stockholm
447        95                   Nyköping               Södermanland
448        25                  Stockholm                  Stockholm
449        55                  Stockholm                  Stockholm
450        50                   Nyköping               Södermanland

                     FA-region  Antal kommuner  Antal län  Antal FA-regioner
0    Se "Lista flera kommuner"               4          4                  4
1                     Göteborg               1          1                  1
2    Se "Lista flera kommuner"               5          4                  5
3    Se "Lista flera kommuner"               2          2                  2
4                        Gävle               1          1                  1
..                         ...             ...        ...                ...
446                  Stockholm               1          1                  1
447         Nyköping-Oxelösund               1          1                  1
448                  Stockholm               1          1                  1
449                  Stockholm               1          1                  1
450         Nyköping-Oxelösund               1          1                  1

[451 rows x 16 columns]>

In [25]:
df["Kommun"].value_counts()

Kommun
Stockholm                    105
Se "Lista flera kommuner"     86
Göteborg                      58
Malmö                         32
Solna                         24
Västerås                      12
Umeå                           9
Borås                          9
Örebro                         9
Nyköping                       9
Uppsala                        7
Norrköping                     6
Växjö                          5
Trollhättan                    5
Västra Frölunda                4
Globen                         4
Karlskrona                     4
Sunne                          3
Vänersborg                     3
Liljeholmen                    3
Karlskoga                      3
Gävle                          3
Mariestad                      3
Båstad                         3
Helsingborg                    2
Jordbro                        2
Nynäshamn                      2
Lund                           2
Askersund                      2
Luleå                          2
Sundsvall                      2
Linköping                      2
Mölndal                        2
Örnsköldsvik                   2
Tumba                          2
Landskrona                     1
Älmhult                        1
Nässjö                         1
Trelleborg                     1
Kristianstad                   1
Lidköping                      1
Skövde                         1
Hudiksvall                     1
Simrishamn                     1
Enköping                       1
Skellefteå                     1
Strömsholm                     1
Ljungby                        1
Bromma                         1
Jönköping                      1
Mölnlycke                      1
Karlstad                       1
Färjestaden                    1
Värnamo                        1
Katrineholm                    1
Name: count, dtype: int64

In [26]:
df["Utbildningsområde"].unique()

array(['Ekonomi, administration och försäljning',
       'Hälso- och sjukvård samt socialt arbete',
       'Samhällsbyggnad och byggteknik', 'Data/IT', 'Säkerhetstjänster',
       'Teknik och tillverkning', 'Journalistik och information',
       'Kultur, media och design', 'Transporttjänster',
       'Hotell, restaurang och turism',
       'Lantbruk, djurvård, trädgård, skog och fiske', 'Juridik',
       'Pedagogik och undervisning'], dtype=object)

In [27]:
educational_area = "Data/IT"  
df.query("Utbildningsområde == @educational_area")[
    "Kommun"
].value_counts().reset_index().rename({"count": "Ansökta kurser"}, axis=1)

                       Kommun  Ansökta kurser
0                   Stockholm              16
1                    Göteborg              15
2                       Solna               8
3   Se "Lista flera kommuner"               8
4                       Malmö               7
5                      Globen               3
6                    Västerås               2
7                 Trollhättan               2
8             Västra Frölunda               2
9                   Sundsvall               2
10                  Linköping               2
11                Liljeholmen               1
12                 Hudiksvall               1
13                      Sunne               1
14                     Bromma               1
15                     Örebro               1
16                 Karlskrona               1

In [28]:
import pandas as pd
import pandasql as psql 

excel_path = "data/resultat-2024-for-kurser-inom-yh.xlsx"
df = pd.read_excel(excel_path, sheet_name="Beviljade ansökningar")

df["Totalt antal beviljade platser"] = (
    df["Antal beviljade platser start 2024"].fillna(0) +
    df["Antal beviljade platser start 2025"].fillna(0) +
    df["Antal beviljade platser start och slut 2024"].fillna(0)
)

query = """
SELECT
  "Utbildningsområde",
  SUM("Totalt antal beviljade platser") AS total_students
FROM df
GROUP BY "Utbildningsområde"
ORDER BY total_students DESC
"""

result_df = psql.sqldf(query, locals())

result_df.head()

                         Utbildningsområde  total_students
0  Ekonomi, administration och försäljning            7148
1                                  Data/IT            4159
2  Hälso- och sjukvård samt socialt arbete            3155
3           Samhällsbyggnad och byggteknik            3110
4                  Teknik och tillverkning            2986