# `EDA of statsbidrag och schablonnivåer`

In [1]:
import pandas as pd

df_list = pd.read_html("https://www.myh.se/yrkeshogskolan/ansok-om-att-bedriva-utbildning/ansokan-kurser/statsbidrag-och-schablonnivaer")
len(df_list), type(df_list)

(1, list)

In [3]:
import requests

url = "https://www.myh.se/yrkeshogskolan/ansok-om-att-bedriva-utbildning/ansokan-kurser/statsbidrag-och-schablonnivaer"

response = requests.get(url)
response.encoding = 'utf-8'  # rätt teckenkodning för svenska tecken

df_list = pd.read_html(response.text)

/var/folders/dq/nhm12bdx0t384gzpkvsf7nf80000gn/T/ipykernel_61961/2750720307.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_list = pd.read_html(response.text)

In [4]:
from io import StringIO  # <- detta krävs

# Konvertera strängen till en "fil-lik" objekt
html_content = StringIO(response.text)

# Läs tabeller
df_list = pd.read_html(html_content)
df = df_list[0]

In [5]:
df_list[0]

,Utbildningsområde,Utan momskompensation,Med momskompensation
0,Data/IT,69 900,74 100
1,"Ekonomi, administration och försäljning",62 900,66 600
2,Friskvård och kroppsvård,74 800,79 200
3,"Hotell, restaurang och turism",64 900,68 700
4,Hälso- och sjukvård samt socialt arbete,67 000,71 000
5,Journalistik och information,66 600,70 600
6,Juridik,60 500,64 100
7,"Kultur, media och design",84 400,89 400
8,"Lantbruk, djurvård, trädgård, skog och fiske",110 200,116 700
9,Pedagogik och undervisning,71 300,75 500
10,Samhällsbyggnad och byggteknik,70 400,74 600
11,Säkerhetstjänster,63 000,66 800
12,Teknik och tillverkning,85 900,91 000
13,Transporttjänster,80 400,85 200

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Utbildningsområde      14 non-null     object
 1   Utan momskompensation  14 non-null     object
 2   Med momskompensation   14 non-null     object
dtypes: object(3)
memory usage: 468.0+ bytes

In [7]:
df["Utan momskompensation"] = df["Utan momskompensation"].str.replace(" ", "").astype(int)
df["Med momskompensation"] = df["Med momskompensation"].str.replace(" ", "").astype(int)

In [1]:
df.to_csv("Data/statsbidrag_schablonnivåer.csv", index=False)

NameError: name 'df' is not defined